@model ViewModel.SaveCadeteVM
<a asp-action="ListCadetes">Cadetes registrados</a>
<form asp-controller="Cadete" asp-action="GuardarCadete" method="post">
    <label for="name">Nombre</label>
    <input type="text" id="name" asp-for="Name" required>
    <label for="address">Dirección</label>
    <input type="text" id="address" asp-for="Address" required>
    <label for="phone">Tel</label>
    <input type="text" id="phone" asp-for="Phone" required>
    <input type="submit">
</form>